/* Style the video: 100% width and height to cover the entire window */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: aliceblue;
    overflow-x: hidden;
    background: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    padding: 50px;
}

#map {
    height: 100%; 
  }