body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#menu {
    margin-left: 20px;
}

select {
    width: 200px;
    padding: 3px;
    margin-right: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.legend {
    font-size: 14px;
    fill: #FFFFFF;
}

.legend rect {
    fill: #aaa;
}

.title {
    font-weight: bold;
    fill: #FFFFFF;
}

.axis line {
    stroke: #eee;
}

.y.axis path {
    display: none;
}

.y.axis text {
    font-size: 14;
    fill: #777;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#svg{
  fill: #777;
}